NEXT_PUBLIC_APP_MODE=prod
NEXT_PUBLIC_ROBOTX_CHAIN_ID=2679
NEXT_PUBLIC_ROBOTX_RPC_URL=https://rpc.robotxhub.ai
NEXT_PUBLIC_ROBOTX_EXPLORER_URL=https://explorer.robotxhub.ai
NEXT_PUBLIC_LOCAL_CHAIN_ID=31337
NEXT_PUBLIC_LOCAL_RPC_URL=http://127.0.0.1:8545
ROBOTX_CHAIN_ID=2679
ROBOTX_RPC_URL=https://rpc.robotxhub.ai
